@model IEnumerable<JournalEntry>

@{
    ViewBag.Title = "Entries";
    Layout = "_Layout";
}
<div class="container">
<div class="buttons">
  <a class="button is-primary" asp-controller="JournalEntry" asp-action="Create">New Entry</a>
</div>
<div class="columns is-multiline is-desktop">        
    @foreach (var item in Model)
    {
        <div class="column is-4">
        <div class="card">
            <p class="card-header-title">
              @Html.DisplayFor(modelItem => item.LocationOverride)
            </p>
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/@item.Longitude,@item.Latitude,16,0/600x450?access_token=@ViewData["MapboxKey"]" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">                
                <div class="content">
                    <p class="title is-6">@Html.DisplayFor(modelItem => item.Date)</p>
                    <p>@Html.DisplayFor(modelItem => item.Notes)</p>                    
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                  </footer>
            </div>            
        </div>
        </div>
    }
</div>
</div>