@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="subtitle is-2">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p class="has-text-danger">Danger text test.</p>
    <p class="has-text-warning">Warning text test.</p>
    <p class="has-text-success">Success text test.</p>
    <p class="has-text-primary">Primary text test.</p>
    <p class="has-text-info">Info text test.</p>
    <p class="has-text-grey-darker">Grey Darker text test.</p>
</div>